a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

:root {
  --white: #fef9ef;
  --black: #181818;
  --lightgray: #D6D2CB;
  --darkgray: #7F7B74;
  --pink: #F0439F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 2em;
}

html, body {
	width: 100%;
  /* font-family: Helvetica, sans-serif; */
  font-family: "Gelasio", serif;
  color: var(--black);
}

body {
  background-color: var(--white);
  display: flex;
  flex-flow: column;
  /* align-items: center; */
}

h1 {
  font-family: "Gelasio", serif;
  font-weight: bolder;
  font-size: 2.2em;
  line-height: 1.4em;
  margin-bottom: 0.5em;
  color: var(--pink);
}

h2 {
  font-family: "Gelasio", serif;
  font-weight: 600;
  font-size: 1.8em;
  margin-bottom: 1em;
}

h6 {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-size: small;
  color: var(--darkgray);
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.2em;
  font-weight: lighter;
}

h5 {
  font-style: italic;
  font-weight: lighter;
}

.matrix-title {
  width: 100%;
  max-width: 600px;
}

.matrix-title h1, h6 {
  line-height: 1.2em;
}

.spacer-medium {
  height: 30px;
}

.spacer-small {
  height: 15px;
}

.footnote {
  color: var(--darkgray);
  font-size: 1em;
  line-height: 1.2em;
}

strong {
  font-weight: bold;
}

.story {
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  max-width: 50vw;
}

blockquote {
  border-left: 5px solid var(--darkgray);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-weight: lighter;
  font-style: italic;
  font-size: 2em;
  line-height: 1.2em;
  margin-top: -0.1em;
  margin-bottom: 1em;
}